.product-card
  = form_with model: product do |f|
    %div
      = f.label :name
      = f.text_field :name
      = errors_for product, :name

    .mt2
      = f.label :description
      = f.text_area :description
      = errors_for product, :description

    .mt2
      = f.button
      = link_to "Cancel", products_path, class: "ml2"
